<section>
  <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.article.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
  <div ng-repeat="comment in vm.article.comments" class="lead comment-display">
    <p class="list-group-item-text comments" ng-bind="comment.content"></p>
    <div class="pull-right" ng-show="vm.showOptions(comment.user)">
      <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" ng-click="vm.removeComment(comment._id)">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
  </div>
  <form name="vm.form.commentForm" class="form-horizontal" ng-submit="vm.saveComment()" novalidate>
    <fieldset>
      <div class="form-group">
        <label class="control-label" for="content">Comments</label>
        <textarea name="content" data-ng-model="vm.comment.content" id="content" class="form-control" cols="30" rows="2" placeholder="Comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default">{{vm.article.comment._id ? 'Edit' : 'Comment'}}</button>
      </div>
    </fieldset>
  </form>
</section>
